.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  min-height: 100vh;
  height: 100%;
}

.SearchResult-container{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.SearchResult-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 1em;
  cursor: pointer;
  margin: 0.5em;
}